name: docsearch抓取

on: 
  push:
    branches:
      - main
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  deploy:
    name: docsearch抓取
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          node-version: 18
          cache: yarn

      - name: docsearch抓取
        env:
          ALGOLIA_APP_ID: "70GEOCJCSX"
          ALGOLIA_API_KEY: "b8504bd49b99826b1f7f7ccb8d9dadc8"
        run: |
          docker run \
          -e ALGOLIA_APP_ID -e ALGOLIA_API_KEY \
          -e CONFIG="$(cat config.json)" \
          algolia/docsearch-scraper
